//global styles to go here



$maintext:#1f397f;

$altText:#444;

$boxBorder:#e7ebef;


html {
  box-sizing: border-box;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}


h1{
  color:$maintext;
}

a,a:hover,a:focus,a:active{
  text-decoration: none;
  color: #333;
}
a:hover{
  color:#757575;
}

p{
}
